<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./styles/adminpanel.css">
    </head>
    <body id="myDIV">
		<title>Superadmin</title>
        <h1>Admin panel</h1>
        <h2>Thread manager</h2>
        <a href="/thread"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-wrench"></span>
        </button></a>
        
        <h2>Lisää moderaattoreita</h2>
        <form> 
        <p><label>Käyttäjänimi:
        <input id="user" type="text" size="30" />
        </label></p>
        <p><label >Salasana:
        <input id="password" type="password" size="30" />
        </label></p>
        <input type="submit" value="Add user"></input>
        </form>
        
        <a href="/"><p>Takaisin kotisivulle</p></a>
		
	<footer class="container-fluid text-center" id="jalka">
        </footer>
        <script src="./scripts/virusclicks.js"></script>

    </body>
</html>

