<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./styles/login.css">

    </head>
    <body id="myDIV">
		<title>Superlogin</title>
        <h2>Admin login</h2>
        <div>
            <form class="container-fluid text-center" action="/admin" onsubmit="return true">

              <p><label>Käyttäjänimi:
                          <input id="user_input" type="text" size="30" name="user" />
                      </label></p>
                  <p><label >Salasana:
                          <input id="password_input" type="password" size="30" name="nimi"name="password" />
                      </label></p>
                 <p><button type="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-log-in"></span> Login
                  </button></p>
            </form>
        </div>
        <a href="/"><p>takaisin kotisivulle</p></a>

        <footer class="container-fluid text-center" id="jalka">
        </footer>
        <script src="./scripts/virusclicks.js"></script>
    </body>
</html>
