<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h2>Admin login</h2>
        <form  action="/admin" onsubmit="return true">

            <p><label>Käyttäjänimi:
                    <input id="user_input" type="text" size="30" />
                </label></p>
            <p><label >Salasana:
                    <input id="password_input" type="password" size="30" />
                </label></p>
            <input type="submit" value="Login">
        </form>

        <a href="/"><p>takaisin kotisivulle</p></a>
    </body>
</html>
