<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./styles/login.css">
		
    </head>
    <body id="myDIV">
        <h2>Admin login</h2>
        <form  action="/admin" onsubmit="return true">

            <p><label>Käyttäjänimi:
                    <input id="user_input" type="text" size="30" />
                </label></p>
            <p><label >Salasana:
                    <input id="password_input" type="password" size="30" />
                </label></p>
            <input type="submit" value="Login">
        </form>

        <a href="/"><p>takaisin kotisivulle</p></a>
		
		<footer class="container-fluid text-center" id="jalka">
        </footer>
        <script src="./scripts/virusclicks.js"></script>
    </body>
</html>
