<!DOCTYPE html>
<html>
    <head>
        <title>Superlauta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Superlauta</h1>
        <h2>Kaikkien keskustelulautojen äiti</h2>
        
        <a href="/thread"><h2>Lanka</h2></a>
        
        <p><a href="/login"><button type="button" class="btn btn-default btn-sm"> 
        <span class="glyphicon glyphicon-log-in"></span> Admin login
            </button></a></p>
			
	<footer class="container-fluid text-center" id="jalka">
        </footer>
        <script src="./scripts/virusclicks.js"></script>
        
    </body>
</html>

