<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Superlanta</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./styles/thread.css">

        <!--<style>
        
          
        
        
        </style>
        -->
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SUPERLAUTA</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Koti</a></li>
                        <li><a href="#about">Tietoa</a></li>
                        <li><a href="#contact">Ota yhteyttä</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Admin login</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid bg-2">

            <div class="starter-template">
                <h1>Tervetuloo Superlautaan</h1>
                <br><br>
                <ul class="viestit">
                    <% for(var i=0; i<viestit.length; i++) {%>
                        <li class="viestit">
                            <p>Name: <span><%= viestit[i].nimi %></span></p>
                            <p>Viesti: <span><%= viestit[i].viesti %></span></p>
                            <hr>

                        </li>
                        <% } %>
                </ul>

                <br><br><hr>

                <form action="/viestit" method="POST">
                    <input type="text" placeholder="nimi" name="nimi">
                    <br><br>
                    <textarea  type="text" name="viesti" rows="4" cols="50">
                    </textarea>
                    <br>
                    <button type="submit">Lähetä</button>
                </form>
            </div>

        </div>

        <div id="about" class="container-fluid bg-3 ">
            <h1 style="text-align:center">Tietoa</h1>
            <div class="col-sm-12">
                <div class="jumbotron" style="background-color:tomato">
                    <p style="color:blue"> Super Lauta on kaikkien Lautojen Äiti.<br></p>
                </div>
            </div>
        </div>


        <div id="contact" class="container-fluid bg-4 text-center">
            <h1>Ota yhteyttä</h1>
            <div class="row">
                <div class="col-sm-12">
                    <p>contakka@superlauta.io</p>
                </div>
            </div>
        </div>
        
        <footer class="container-fluid text-center" id="jalka">
        </footer>
        <script src="./scripts/virusclicks.js"></script>
    </body>
</html>
