<h1>Admin panel</h1>
        <h2>Thread manager</h2>
        <p>Ominaisuuksia yolo</p>
        
        <h2>Lisää moderaattoreita</h2>
        <form  > 
        <p><label>Käyttäjänimi:
        <input id="user" type="text" size="30" />
        </label></p>
        <p><label >Salasana:
        <input id="password" type="password" size="30" />
        </label></p>
        <input type="submit" value="Add user"></input>
        </form>
        
        <a href="index.html"><p>Takaisin kotisivulle</p></a>