

<h1>Anonyymi keskustelufoorumi</h1>
<h2>alaoutsitkko</h2>
<p>Tietotja sivusta</p>
<p>lis채채 tietoja</p>

<a href="/thread"><h2>Keskustelualue</h2></a>

<p id="alog"> <a href="/login"> <input value="Admin Login" type="button" ></input></a></p>  <!-- piilotettu <p> tagin sis채채n jotta CSS helpompi -->


<link rel="stylesheet" href="/styles/home.css">
 

