<h1>Vitun näppärä keskustelulauta</h1>
    <h2>alaoutsitkko</h2>
    <p>Tietotja sivusta</p>
    <p>lisää tietoja</p>

    <a href="/thread"><h2>Lanka</h2></a>

    <p id="alog">Admin login</p>
    <a href="/login"> <input value="Login" type="button" ></input></a>
