<style>     <!-- Styles for thread site -->
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    textarea {
    resize: vertical;
    align: center;
    }
    
    .commentSep {   <!-- Viiva kommenttien v채liss채, -->
        background-color: red;  <!-- HUOM! color ei toimi -->
        border-color: red;
        background: red;
        }
    
    #comments
    {
        height: 75%;
        overflow: scroll;
    }


    
</style>
<nav class="navbar navbar-inverse">     <!-- navigation bar -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Etusivu</a></li>
        <li><a href="/about">Lis채tietoja</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Admin login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- ad blocks on left side -->
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav" >
      <div class="well">
        <img src="/images/youwonad.png" alt="You won!!">
      </div>
      <div class="well">
          <img src="/images/youwongif.gif" alt="YOU WON NEEGER!!">
      </div>
    </div>
    
<!-- comments section -->
    <div class="col-sm-8 text-left" id="comments"> 
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      </div>
        <div class="col-sm-8 text-left">  
            <label for="comment">Kommentit:</label>
            
            <textarea class="form-control" rows="5" id="commentArea" placeholder="Kirjoita t채nne kommenttisi"></textarea>
            <input type="button" id="commentButton" value="Kommentoi">
        </div>
    
    
    
    
  </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<script>
var button = document.getElementById("commentButton"); 
button.addEventListener("click", CreateText);

function CreateText()
{
    var textNode = document.createTextNode(document.getElementById("commentArea").value);
    var textElement = document.createElement("p");
    textElement.appendChild(textNode);
    var currentTime = document.lastModified;
    var timeStamp = document.createElement("p");
    
    console.log(currentTime);
    
    var commentSeparator = document.createElement("hr")
    commentSeparator.setAttribute("class", "commentSep");
    
    var commentElement = document.getElementById("comments");
    commentElement.appendChild(timeStamp);
    timeStamp.innerHTML = currentTime;
    commentElement.appendChild(textElement);
    commentElement.appendChild(commentSeparator);
    document.getElementById("commentArea").value = "";
}</script>
